.App {
  /* background-image: url('/public/assets/body_bg.png'); */
  height: 100%;
  width: 100%;
}

.container-background {
  background-image: url('/public/assets/container_bg.png');
  background-color: white;
  /* height: 100vh; */
  height: 100%;
  /* overflow-y: scroll; */
}


.page-header-logo {
  display: flex;
  justify-content: center;
  .page-header-logo-inner-block-border {
    border: 5px dashed gray;
    padding: 1rem;
    margin: 1rem;
    .text-logo-block {
      display: flex;
      justify-content: center;
      .header-logo {
        width: 3.5rem;
        height: 3.5rem
      }
      .header-text {
        color: gray;
        line-height: 3.5rem;
        margin-left: 1rem;
        font-size: 2rem;
        font-family: serif;
        font-variant: petite-caps;
        font-weight: bold;
      }
    }
  }
}

